/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;

    background-color: black;
    background-image: url(../image/capasite2.jpeg);
  }


  .bg-custom1{
    color: black;
  }

  .bg-custom2{
    background-color: #750667;;
    color: #cdcdcd;
  }

.inner{

padding-top: 9.0rem;
}

.cover {
  padding-top: 30px;
}

.cover-heading{
  font-family: 'Pattaya', sans-serif;
  padding-top: 65px;
  padding-bottom: 20px;
  color: #641a5b;
  
}

.lead {
  color: #5f4f8a;
  
}

.navbar-brand{
  font-family: 'Pattaya', sans-serif;
}